output/
Results/
venv*
.venv*
.env
.idea
.vscode
.*project
*.pyc
src/robotframework.egg-info
__pycache__
log.html
output.xml
report.html
.classpath
.settings
.jython_cache
.mypy_cache/
*.iml
*$py.class
*~
tmp
build
dist
target
MANIFEST
.python-version
poetry.lock
.ps1